<h1>FreeCollab</h1>
<h2>Recherche</h2>
<form action="/recherche" class="from-group">
    <input class="form-control" type="search" name="query" id="query">
    <input type="submit" value="Rechercher">
</form>
<a href="/recherche" class="btn btn-primary">Voir tout</a>
<h2>Derniers projets</h2>
<div class="list-group">
{{#each projects}}
    <a href="/projets/{{_id}}" class="list-group-item list-group-item-action text-bold">{{name}}<span class="badge badge-pill badge-secondary ml-2">{{category}}</span></a>
{{/each}}
</div>
<h2>A propos</h2>
