<h1>Contactez nous !</h1>
<form action="/contact" method="POST">
    <label for="message">Votre message</label>
    <textarea name="" id="message" cols="30" rows="10"></textarea>
    <input type="submit">
</form>