<main>
    <div class="container-fluid p-0">
        <div class="site-content">
            <div class="d-flex justify-content-center m-auto">
                <div class="d-flex flex-column">
                    <h1 class="site-title mt-5 justify-content-center">Free<span style="color: #bb0b0b;">Collab</span>
                    </h1>
                    <p class="site-desc justify-content-center">Collaborer Librement</p>
                    <form action="/recherche" class="form-group">
                        <div class="d-flex flex-row justify-content-center row">
                            <div class="col-12">
                                <input class="form-control px-4 py-2 w-100" type="search" style="height: 44px;"
                                    name="query" id="query" placeholder="🔎 Rechercher...">
                            </div>
                        </div>
                        <div class="d-flex flex-row justify-content-center">
                            <a href="/recherche"><input type="button" href="/recherche" value="Tout voir"
                                    class="btn btn-dark mt-2 mb-5 px-4 py-2 w-100"></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <section id="team" class="section-1">
        <div class="container text-center">
            <h1 class="heading-1">Les projets les plus récents </h1>
            <p class="para-1">
                Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant
                impression.
            </p>
            <div class="row">
                {{#each projects}}
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid"
                                                src="https://pbs.twimg.com/profile_images/779289835848818688/yifTHAJE.jpg"
                                                alt="card image"></p>
                                        <h4 class="card-title">{{name}}</h4>
                                        <span class="badge badge-pill badge-secondary ml-2">{{category}}</span>
                                        <p class="card-text">Le Lorem Ipsum est simplement du faux texte employé dans la
                                            composition et la mise en page avant impression</p>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">{{name}}</h4>
                                        <div>
                                            <a href="/projets/{{_id}}">
                                                <input type="button" value="Voir le projet" class="btn site-btn3">
                                            </a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </section>
    <div class="section-4 bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <img src="https://www.tis.edu.mo/vision/wp-content/uploads/sites/6/2018/06/Beth-Inglish-connection-creativity-collaboration-consultant-Nashville-blog-1100x794.jpg"
                        alt="Image-7" width="590">
                </div>
                <div class="col-md-5">
                    <h1 class="text-white">A propos</h1>

                    <a href="#">Join Us</a>
                    <p class="para-2">
                        Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant
                        impression.
                        Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500,
                        quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre
                        spécimen de polices de texte.</p>
                </div>
            </div>
        </div>
    </div>
</main>