{{#if user}}
    <h1>Bienvenue {{user.firstname}} {{user.lastname}} !</h1>
    <a href="/auth/logout">Me deconnecter</a>
    <a href="/projets/nouveau">Nouveau projet</a>
{{else}}
    <h1>Bienvenue sur le site les gars.</h1>
{{/if}}