<!DOCTYPE html>

<html>

<head>
    <title>FreeCollab.io - Collaborez librement</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
    <div class="navbar navbar-light bg-light mb-3">
        <a href="/" class="navbar-brand mr-auto">FreeCollab.io</a>
        {{#if user}}
        <a href="account">Mon profile</a>
        {{else}}
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="/auth/inscription">Inscrivez-vous !</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/auth/login">Connectez-vous !</a>
            </li>
        </ul>
        {{/if}}
    </div>
    <div class="container">
        {{{body}}}
    </div>
</body>

</html>